html {
  min-height: 100%;
}

html,
body {
  font-family: 'Helvetica Neue', Tahoma, sans-serif;
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
.container {
  height: 100%;
  width: 100%;
}

.container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.container,
.playground {
  position: absolute;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.playground {
  background-color: #fbf1bc;
}

.node-base--container {
  border-radius: 8px;
  min-width: 240px;
  position: relative;

  &.selected {
    border: 2px solid #e60000;
  }

  &.small {
    min-width: 100px;
  }
}

.node-base--header {
  background-color: rgb(233, 233, 233);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: 500;
  padding: 12px 8px;
  text-align: center;
}

.node-base--body {
  background-color: rgb(245, 245, 245);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 12px 8px;

  &.without-title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &.v2 {
    padding: 0;
  }
}

.node-task--body,
.node-interactive-task--body,
.node-sync-task--body,
.node-async-task--body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.node-interactive-task--body,
.node-sync-task--body,
.node-async-task--body,
.node-condition--body {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.node-interactive-task--body {
  background-color: #79f3f8;
}

.node-sync-task--body,
.node-async-task--body {
  background-color: #12f825;
}

.node-condition--body {
  background-color: #efde18;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.node-condition-expression--container {
  font-family: 'Roboto Mono', Consolas, Menlo, monospace;
  font-size: 12px;
}

.node-rule--body {
  background-color: #52527a;
  color: #f0f0f5;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.node-handle--container {
  min-height: 16px;
  position: relative;

  & + & {
    margin-top: 8x;
  }

  &.node-handle--container--right {
    padding-right: 8px;
    text-align: right;
  }

  &.node-handle--container--left {
    padding-left: 8px;
    text-align: left;
  }
}
